%h1 Discover Artists on Easel
%br/
- @bios.each do |bio|
  .row
    .col-md-2
      = image_tag bio.images.first.file.thumb
    .media-heading
      .col-md-2
        %h4= link_to bio.name, bio_path(bio)
      .col-md-4
        %h5= bio.description
  %br/
