%h1 Discover Artists on Easel
%br/
- @bios.each do |bio|
  .row
    .col-md-4
      = image_tag bio.title_image, class: 'img-small'
    .media-heading
      .col-md-2
        %h4= link_to bio.name, bio_path(bio)
      .col-md-6
        %h5= bio.description
  %br/
