%h1 Discover great Artwork on Easel
%br/
.grid
  %center
    - @artworks.each do |artwork|
      .col-md-4
        = link_to image_tag(artwork.title_image, class: 'grid-item img-small'),
          artwork_path(artwork)
      %br/
