/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 */

 @import "bootstrap";
 @import "bootstrap-sprockets";

 .gravatar {
   margin-top: 0.2em;
   margin-right: 0.5em;
   border-radius: 0.2em;
 }

 .flash {
   margin-top: 0.5em;
 }

 .alert {
   text-align: center;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
 }

 .notice {
   text-align: center;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
 }

 .form-narrow {
   max-width: 30em;
 }

 .progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  3em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

.empty-frame {
  height: 500px;
  width: 100%;
  border: 5px 5px 5px 5px;
  border-radius: 2px;
}

.empty-frame-small {
  height: 300px;
  width: 300px;
  // border: 1px 1px 1px 1px solid #eee;
  border-radius: 2px;
}

.preview-large {
  height: 500px;
  max-width: 100%;
  border: 1px 1px 1px 1px solid #eee;
  border-radius: 2px;
  // position: absolute;
  // left: 65px;
  // top: 940px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.img {
  max-width: 500px;
}

.img-small {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
}

.img-medium {
  max-width: 500px;
  max-height: 500px;
}

.img-large {
  max-width: 1000px;
  max-height: 1000px;
}

.bootstrap-filestyle {
  max-width: 20em;
  float: left;
}

.grid-sizer,
.grid-item {
  float: left;
  width: 22.5%;
  margin-bottom: 30px;
  background: #e6e5e4;
  border: 1px solid #b6b5b4;
}

// /* fluid 5 columns */
// .grid-sizer,
// .grid-item { width: 20%; }
// /* 2 columns */
// .grid-item--width2 { width: 40%; }

#makeDraggable {
  width: 300px;
  height: 300px;
}

#makeDroppable {
  width: 300px;
  height: 300px;
  border: 1px solid #999;
}
